.model-header {
  padding: 15px;
  padding-bottom: 10px;
}

.model-body {
  padding: 0 15px;
  color: #606266;
  line-height: 24px;
  font-size: 14px;

  h2 {
    margin: 0;
    padding: 10px 0;
  }
}

.model-footer {
  padding: 15px;
  text-align: right;
  box-sizing: border-box;
}