.dy-pagination {
    padding-left: 0;
    margin: 1.5rem 0;
    list-style: none;
    color: #999;
    text-align: left;

    li {
        display: inline-block;

        a {
            position: relative;
            display: block;
            padding: .5em 1em;
            text-decoration: none;
            line-height: 1.2;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 2px;
            margin-bottom: 5px;
            margin-right: 5px;
        }

        &.dy-pagination-active {
            a {
                z-index: 2;
                color: #fff;
                background-color: #0e90d2;
                border-color: #0e90d2;
                cursor: default;
            }
        }

        &.dy-pagination-disabled {
            a {
                color: #999;
                background-color: #fff;
                border-color: #ddd;
                cursor: not-allowed;
                pointer-events: none;
            }
        }
    }
}