@import "../mixins/_model.scss";

.dy-prompt-header {
    @include dialogHeader();
}

.dy-prompt-body {
    @include dialogBody();
}

.dy-prompt-footer {
    @include dialogFooter();
}

.dy-prompt-input {
    position: relative;
    font-size: 14px;
    padding: 10px 15px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    min-height: 80px;
}