@import "../../global.scss";

.dy-input {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    transition: $--all-transition;
    border: $--border-base;
    &:focus {
        border-color: $--color-primary;
    }
}

.dy-textarea {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    min-height: 80px;
    overflow: auto;
    font-family: inherit;
    transition: $--border-transition-base;
    border: $--border-base;
    &:focus {
        border-color: $--color-primary;
    }
}