@import "../../global.scss";

.dy-switch {
    display: inline-block;
    cursor: pointer;
    line-height: 20px;
    height: 20px;
    position: relative;

    .dy-switch-box {
        margin: 0;
        display: inline-block;
        position: relative;
        height: 20px;
        outline: none;
        border-radius: 10px;
        box-sizing: border-box;
        cursor: pointer;
        vertical-align: middle;
        border: $--border-base;
        background: $--border-color-base;
        transition: $--all-transition;

        .dy-switch-btn {
            position: absolute;
            top: 1px;
            left: 1px;
            border-radius: 100%;
            width: 16px;
            height: 16px;
            transition: $--all-transition;
            background-color: $--color-white;
        }

        .dy-switch-toggleInput {
            position: absolute;
            width: 0;
            height: 0;
            opacity: 0;
            margin: 0;
        }
    }


    &.dy-switch-active {
        .dy-switch-box {
            background: $--color-primary;
        }
    }


    .dy-switch-text {

        font-size: $--font-size-base;
        padding: 5px 10px;

        &.dy-switch-text-toggle {
            color: $--color-primary;
        }
    }
}


.dy-switch-disabled {
    @include disabled();
    .dy-switch-box {
        cursor: not-allowed;
    }
}




