// 360° 旋转
.rotation {
    position: relative;
    display: inline-block;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    animation: rotation 2s linear infinite;
    -moz-animation: rotation 2s linear infinite;
    -webkit-animation: rotation 2s linear infinite;
    -o-animation: rotation 2s linear infinite;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}


/**
 * notify
 */

.notify-enter-active {
    animation: notify .3s;
}

.notify-leave-active {
    animation: notify .3s reverse;
}

@keyframes notify {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0);
    }
}


/**
 * message
 */

.message-right-enter-active {
    animation: messageRight .3s;
}

.message-right-leave-active {
    animation: messageRight .3s reverse;
}

@keyframes messageRight {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}

.message-left-enter-active {
    animation: messageLeft .3s;
}

.message-left-leave-active {
    animation: messageLeft .3s reverse;
}

@keyframes messageLeft {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}


/**
 * alert
 */

.alert-fade-enter-active {
    animation: alert-fade-in .3s;
}

.alert-fade-leave-active {
    animation: alert-fade-out .3s;
}

@keyframes alert-fade-in {
    0% {
        transform: translate3d(0, -20px, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes alert-fade-out {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    100% {
        transform: translate3d(0, -20px, 0);
        opacity: 0;
    }
}




/**
 * slide-down
 */
.slide-down-enter-active,
.slide-down-leave-active {
    opacity: 1;
    transform: scaleY(1);
    transition: $--md-fade-transition;
    transform-origin: center top;
}
.slide-down-enter,
.slide-down-leave-active {
    opacity: 0;
    transform: scaleY(0);
}