.components-box {

    .components-title {
        font-size: 22px;
        margin: 24px 0;
        color: #129CFF;
        padding: 0 25px;
    }

    .components-wrapper {

        ul {
        
            li {
                padding: 10px 25px 5px;
                border-top: 1px solid #d7dde4;

                .components-content {
                    margin-top: 15px;
                    margin-bottom: 20px;
                    
                    h2 {
                        font-size: 16px;
                        font-weight: normal;
                        margin: 20px 0;
                        font-weight: 600;
                    }

                    .subBox {
                        font-size: 14px;
                    }
                }

                .components-code {
                    

                    .code-title {
                        font-size: 14px;
                        margin-bottom: 15px;
                    }

                    .code-tip {
                        display: block;
                        padding: .5em;
                        background: #23241f;
                        color: #fff;
                        font-size: 14px;
                        text-indent: 10px;
                        padding: 10px 0;

                        p {
                            margin: 5px;
                        }

                        code {
                            color: #9CDCFE;
                        }
                    }
                }
            }
        }
    }

    pre {
        display: block;
        font-size: 14px;
        margin: -30px 0 0 0;
        padding: 0;
        width: 100%;
    }
}

code {
    font-family: Menlo,Monaco,Consolas,Courier,monospace;
}