.dy-tooltip-popup {
    position: absolute;
    display: block;
    border-radius: 4px;
    font-size: $--font-size-base;
    color: $--color-white;
    border: $--border-base;
    border-color: $--color-primary;
    transition: $--all-transition;
    
    .dy-tooltip-popup-inner {
        padding: 5px 10px;
        background-color: $--color-primary;
        height: 100%;
    }
}