// Button
@mixin button-variant($color, $border-color, $bg-color) {
    color: $color;
    border-color: $border-color;
    background-color: $bg-color;
}

@mixin button-hover($color, $border-color, $bg-color) {
    &:hover {
        color: $color;
        border-color: $border-color;
        background-color: $bg-color;
    }
}

@mixin disabled() {
    opacity: .5;
    &:hover {
        cursor: not-allowed;
    }
}