// border-radius
@mixin border-radius($point) {
  @if $point==left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  @else if $point==right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}